
.portfolio-section-photos{
    background-color: white;
  }

  .portfolio-section-photos h2 {
    color: #1c1a1a;
    margin-bottom: 50px;
    margin-top: 20px;
}

  .grid-landscapes{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 10px;

  }

  .grid-landscapes img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.grid-portraits{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 300px 300px;
    gap: 10px;
}

.link-container{
    position:relative;

}

.hover-photo{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:grid;
justify-content: center;
align-items: center;
font-size: 1.7em;
color: white;
background-color: rgba(0, 0, 0, 0.6);
display:none;


    

}

.link-container:hover .hover-photo{
    display:grid;
 
  }